
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; 
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: inline-block; 
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
  display: inline-block; 
  max-width: 100%; 
  box-sizing: border-box;
}


.read-the-docs {
  color: #888;
}




@media (max-width: 768px) {
  #root {
    padding: 1rem; 
  }

  .logo {
    height: 4em; 
    padding: 1em; 
  }

  .card {
    padding: 1em; 
  }
  
  .read-the-docs {
    font-size: 0.9rem; 
  }
}


@media (max-width: 1024px) {
  #root {
    padding: 1.5rem; 
  }

  .logo {
    height: 5em; 
    padding: 1.2em; 
  }

  .card {
    padding: 1.5em; 
  }

  .read-the-docs {
    font-size: 1rem; 
  }
}


@media (min-width: 1280px) {
  #root {
    padding: 3rem; 
  }

  .logo {
    height: 7em; 
    padding: 2em; 
  }

  .card {
    padding: 2.5em; 
  }
}
